## Deliverable 3. Create a Travel Itinerary Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [8]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Rikitea,PF,76.41,scattered clouds,-23.1203,-134.9692,People ThankYou
1,14,Vao,NC,75.42,scattered clouds,-22.6667,167.4833,Hotel Kou-Bugny
2,19,Bambous Virieux,MU,75.45,broken clouds,-20.3428,57.7575,Casa Tia Villa
3,22,Riohacha,CO,88.27,overcast clouds,11.5444,-72.9072,Hotel Taroa
4,24,Georgetown,MY,84.13,few clouds,5.4112,100.3354,Cititel Penang

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
# nice_weather_vacation_spot_df = vacation_df.loc[(vacation_df["Max Temp"] <= 80) & \
#                                        (vacation_df["Max Temp"] >= 70)]
# nice_weather_4_vacation_spot_df = nice_weather_vacation_spot_df["Country"].value_counts() >= 4
# print(nice_weather_4_vacation_spot_df.index[0])
# vacation_start = vacation_df.loc[(vacation_df["Max Temp"] <= 80) & \
#                                        (vacation_df["Max Temp"] >= 70) & (vacation_df["Country"] == nice_weather_4_vacation_spot_df.index[0])]

#print(vacation_start)
# Roanoke Rapids      Danville       Elizabeth City   Havelock
vacation_start = vacation_df.loc[vacation_df["City"] == "Danville"]
print(vacation_start)
vacation_end = vacation_start
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Roanoke Rapids"]
print(vacation_end)

vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Elizabeth City"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Havelock"]

    City_ID      City Country  Max Temp Current Description     Lat     Lng  \
75      284  Danville      US     79.43           clear sky  36.586 -79.395

                                    Hotel Name
75  Holiday Inn Express Danville, an IHG Hotel
    City_ID      City Country  Max Temp Current Description     Lat     Lng  \
75      284  Danville      US     79.43           clear sky  36.586 -79.395

                                    Hotel Name
75  Holiday Inn Express Danville, an IHG Hotel

In [12]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
print(start)
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

(36.586, -79.395)

In [13]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
start_to_end = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,284,Danville,US,79.43,clear sky,36.5860,-79.3950,"Holiday Inn Express Danville, an IHG Hotel"
1,670,Roanoke Rapids,US,81.01,clear sky,36.4615,-77.6542,Hampton Inn Roanoke Rapids
2,586,Elizabeth City,US,78.06,scattered clouds,36.2946,-76.2511,Hampton Inn Elizabeth City
3,301,Havelock,US,81.99,broken clouds,34.8791,-76.9013,Sherwood Motel

In [16]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))